body {
    margin: 0;
    padding: 0;
    font: 14px 'Trebuchet MS', Arial;
    background: url('../imagens/body-bg.png');
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: none;
    max-width: 100%;
}

nav {
    background: url('../imagens/imga.jpg') center right;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 100%;
}

ul {
    list-style: none;
}

ul li{    
    display: inline;
    /* top, right, bottom, left */
    padding: 18px 78px 18px 78px;
    background: rgba(216, 26, 162, 0.885);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 16px;
    max-width: 100%;
}

ul li:hover > a {
    color: #f00;
}

.ad{
    position: absolute;
    margin-right: 80%;
    padding-left: 15px;
    background: #f00;
    text-align: center;
}

.menu {
    width: 25%;
    float: left;
    padding: 10px;
}

.main {
    width: 75%;
    float: left;
    padding: 10px;
}
/*  background: rgba(216, 26, 162, 0.707); */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}