.rodape {
    background: url('../imagens/fundo-rodape.png') center right;
    color: white;
    padding-right: 2px;
    text-align: right;
    /* padding-bottom: 2px; */
    max-width: 100%;
    width: 100%;
    float: right;
}