<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stilos.css">

</head>
<body style="background: url('../../../imagens/body-bg.png')">
<nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/produtos">Bebidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/produtos/vodka">Vodka</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/produtos/whisky">Whisky</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand" href="/home">Home</a>
    <a class="navbar-brand" href="/sobre">Sobre</a>
    <a sec:authorize="hasRole('ADMIN')" class="navbar-brand" href="#" data-target="#exampleModal" data-toggle="modal">Produtos</a>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Produto
    </button> -->
    <a class="navbar-brand" href="/cadastro">Cadastro</a>
    <a sec:authorize="!isAuthenticated()" class="navbar-brand" href="#" data-target="#login" data-toggle="modal">Login</a>
    <a sec:authorize="hasAnyRole('ADMIN', 'USER')"  class="navbar-brand" href="/logout">Logout</a>
    <form class="form-inline my-2 my-lg-0" method="POST" action="/search" enctype="multipart/form-data">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="nome">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST" action="/produto/add" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome:</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome" name="nome">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Preco:</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Presco" name="presco">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Quantidade:</label>
                        <input type="text" class="form-control" id="qtd" placeholder="Quantidade" name="qtd">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Tipo:</label>
                        <input type="text" class="form-control" id="tipo" placeholder="Tipo" name="tipo">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlFile1">Selecione a Imagem do Produto</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="imagem">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-outline-success">Savar</button>
                    </div>
                </form>
                </form>

            </div>

        </div>
    </div>
</div>

<!--Modal Login-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titlelogin">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST" action="/usuario/login" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Login:</label>
                        <input type="text" class="form-control" id="Email" placeholder="Login" name="username">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha:</label>
                        <input type="password" class="form-control" id="passwordlogin" placeholder="Senha" name="username">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-outline-success">Logar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- img-fluid -->
<div>
    <img src="../imagens/capa.png"  alt="Responsive image" width="100%">
</div>
<br>
<!-- LINHA 1 -->
<div class="container-fluid">
    <div class="row" id="row1">
        <div class="col-md-3" th:each="prod: ${todosOsProdutos}">
                <div class="card text-center" style="height: 30rem">
                    <img class="card-img-top" alt="" style="height: 19rem" th:src="@{'/imagens/'+${prod.nome}+.jpg}"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${prod.nome}"> </h5>
                        <p class="card-text" th:text="${'R$'+prod.presco}"> </p>
                        <a th:href="@{/produto/pedido/{id}(id = ${prod.id})}" class="btn btn-outline-info">Comprar</a>
                        <!--<button type="submit" class="btn btn-outline-info">Comprar</button>-->
                    </div>
                </div>
            <br>
        </div>
    </div>
    <br>
</div>
<br>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--<script src="/js/util.js"></script>-->

<footer class="rodape">
    <label>(88) 99582-4052</label>
    <br>
    <label>Copyright © 2018 Tres FRÔ - Todos os diretiros reservador</label>
    <br>
    <label>Powered by: Michel de Melo Vieira</label>
</footer>
</body>
</html>